# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.2.2

# Flask Packages
SQLAlchemy==1.4.41
Flask-SQLAlchemy==2.5.1
Flask-Marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.1
Werkzeug==2.2.2